.notification {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.1);
    width: 370px;
    padding: 1rem;
    z-index: 999;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    opacity: 0;
    transform: translateX(110%);


    animation: inAnimation 0.5s ease forwards;
    


    /* animation: inAnimation 0.5s ease forwards; */

    cursor: pointer;
}

.notification.closing {
    animation: outAnimation 0.5s ease forwards;
}

.icon {
    font-size: 2.5rem;
}

.closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}



.notificationWrapper {
    position: fixed;
    top: 120px;
    right: 1rem;


    display: flex;
    flex-direction: column-reverse;
    gap: 1rem
}


@keyframes inAnimation {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes outAnimation {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to { 
        transform: translateX(110%);
        opacity: 0;
    }
}




