
.wrapper {
    background-color: var(--accent-primary);
    border-radius: 2rem;
    max-width: 0;
    min-width: 60px;

    overflow: hidden;
    transition: all 0.8s ease;
    transform-origin: right;
    box-sizing: border-box;
}

.wrapper:hover {
    background-color: var(--accent-primary);

}

.wrapper.clicked {
    max-width: 300px;
}

.wrapper ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    box-sizing: border-box;


}

.wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;

    border-radius: 50%;
    background-color: transparent;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
}

.wrapper input {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;  

    padding-left: 1rem;

}

.wrapper.clicked,
.wrapper.clicked input,
.wrapper.clicked button {
    color: white;
    background-color: var(--accent-primary);

}

